@font-face {
	font-family: 'ico_stratio';
	src:url('../stratio-font/ico_stratio.eot?-lprm7n');
	src:url('../stratio-font/ico_stratio.eot?#iefix-lprm7n') format('embedded-opentype'),
		url('../stratio-font/ico_stratio.ttf?-lprm7n') format('truetype'),
		url('../stratio-font/ico_stratio.woff?-lprm7n') format('woff'),
		url('../stratio-font/ico_stratio.svg?-lprm7n#ico_stratio') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ico_stratio';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arvo:before {
	content: "\e900";
}
.icon-hdfs:before {
	content: "\e901";
}
.icon-datetime:before {
	content: "\e64d";
}
.icon-morphlines:before {
	content: "\e64e";
}
.icon-type:before {
	content: "\e64f";
}
.icon-websocket:before {
	content: "\e650";
}
.icon-csv:before {
	content: "\e647";
}
.icon-kafkadirect:before {
	content: "\e648";
}
.icon-kafka:before {
	content: "\e645";
}
.icon-parquet:before {
	content: "\e649";
}
.icon-print:before {
	content: "\e64a";
}
.icon-redis:before {
	content: "\e64b";
}
.icon-rabbitmq:before {
	content: "\e636";
}
.icon-jdbc:before {
	content: "\e602";
}
.icon-flume:before {
	content: "\e646";
}
.icon-socket:before {
	content: "\e644";
}
.icon-elasticsearch:before {
	content: "\e624";
}
.icon-cassandra:before {
	content: "\e62f";
}
.icon-mongodb:before {
	content: "\e623";
}
.icon-twitter:before {
	content: "\e637";
}
.icon-stratio_small:before {
	content: "\e633";
}
.icon-stratio_standard:before {
	content: "\e634";
}
.icon-order:before {
	content: "\e635";
}
.icon-dot:before {
	content: "\e622";
}
.icon-dot_selected:before {
	content: "\e632";
}
.icon-logout:before {
	content: "\e62e";
}
.icon-login:before {
	content: "\e630";
}
.icon-cpu:before {
	content: "\e627";
}
.icon-transport:before {
	content: "\e628";
}
.icon-chip1:before {
	content: "\e62d";
}
.icon-chip2:before {
	content: "\e62a";
}
.icon-fragments:before {
	content: "\e62b";
}
.icon-filter:before {
	content: "\e616";
}
.icon-sand-clock:before {
	content: "\e617";
}
.icon-report:before {
	content: "\e618";
}
.icon-indicator:before {
	content: "\e601";
}
.icon-tool:before {
	content: "\e60c";
}
.icon-compass:before {
	content: "\e60d";
}
.icon-shield:before {
	content: "\e60e";
}
.icon-settings:before {
	content: "\e60f";
}
.icon-settings2:before {
	content: "\e619";
}
.icon-rocket:before {
	content: "\e610";
}
.icon-pin:before {
	content: "\e612";
}
.icon-alert:before {
	content: "\e613";
}
.icon-info1:before {
	content: "\e615";
}
.icon-info2:before {
	content: "\e614";
}
.icon-info3:before {
	content: "\e606";
}
.icon-help1:before {
	content: "\e127";
}
.icon-help2:before {
	content: "\e638";
}
.icon-import:before {
	content: "\e61f";
}
.icon-export:before {
	content: "\e620";
}
.icon-dashboard:before {
	content: "\e60b";
}
.icon-position:before {
	content: "\e61b";
}
.icon-copy:before {
	content: "\e61c";
}
.icon-cup:before {
	content: "\e61d";
}
.icon-timer:before {
	content: "\e61e";
}
.icon-direction:before {
	content: "\e621";
}
.icon-calendar:before {
	content: "\e639";
}
.icon-plane:before {
	content: "\e609";
}
.icon-puzzle:before {
	content: "\e60a";
}
.icon-nodes:before {
	content: "\e63a";
}
.icon-bell:before {
	content: "\e604";
}
.icon-edit2:before {
	content: "\e63c";
}
.icon-server:before {
	content: "\e022";
}
.icon-server2:before {
	content: "\e607";
}
.icon-view:before {
	content: "\e000";
}
.icon-paper-clip:before {
	content: "\e001";
}
.icon-mail:before {
	content: "\e002";
}
.icon-toggle:before {
	content: "\e003";
}
.icon-layout:before {
	content: "\e004";
}
.icon-link:before {
	content: "\e005";
}
.icon-lock:before {
	content: "\e007";
}
.icon-unlock:before {
	content: "\e008";
}
.icon-ribbon:before {
	content: "\e009";
}
.icon-image:before {
	content: "\e010";
}
.icon-signal:before {
	content: "\e011";
}
.icon-target:before {
	content: "\e012";
}
.icon-clipboard:before {
	content: "\e013";
}
.icon-clock:before {
	content: "\e014";
}
.icon-watch:before {
	content: "\e015";
}
.icon-air-play:before {
	content: "\e016";
}
.icon-camera:before {
	content: "\e017";
}
.icon-video:before {
	content: "\e018";
}
.icon-disc:before {
	content: "\e019";
}
.icon-printer:before {
	content: "\e020";
}
.icon-monitor:before {
	content: "\e021";
}
.icon-cog:before {
	content: "\e023";
}
.icon-cogs:before {
	content: "\e906";
}
.icon-heart:before {
	content: "\e024";
}
.icon-book1:before {
	content: "\e611";
}
.icon-book2:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-stack:before {
	content: "\e032";
}
.icon-stack-2:before {
	content: "\e033";
}
.icon-code:before {
	content: "\e907";
}
.icon-paper:before {
	content: "\e034";
}
.icon-paper-stack:before {
	content: "\e035";
}
.icon-search:before {
	content: "\e036";
}
.icon-zoom-in:before {
	content: "\e037";
}
.icon-zoom-out:before {
	content: "\e038";
}
.icon-reply:before {
	content: "\e039";
}
.icon-circle-plus:before {
	content: "\e040";
}
.icon-circle-minus:before {
	content: "\e041";
}
.icon-circle-check:before {
	content: "\e048";
}
.icon-circle-check2:before {
	content: "\e042";
}
.icon-circle-cross:before {
	content: "\e043";
}
.icon-square-plus:before {
	content: "\e044";
}
.icon-square-minus:before {
	content: "\e045";
}
.icon-square-check:before {
	content: "\e046";
}
.icon-square-cross:before {
	content: "\e047";
}
.icon-record:before {
	content: "\e049";
}
.icon-skip-back:before {
	content: "\e050";
}
.icon-rewind:before {
	content: "\e051";
}
.icon-play:before {
	content: "\e052";
}
.icon-pause:before {
	content: "\e053";
}
.icon-stop:before {
	content: "\e054";
}
.icon-fast-forward:before {
	content: "\e055";
}
.icon-skip-forward:before {
	content: "\e056";
}
.icon-shuffle:before {
	content: "\e057";
}
.icon-repeat:before {
	content: "\e058";
}
.icon-folder:before {
	content: "\e059";
}
.icon-umbrella:before {
	content: "\e060";
}
.icon-moon:before {
	content: "\e061";
}
.icon-thermometer:before {
	content: "\e062";
}
.icon-thermometer_thin:before {
	content: "\e63d";
}
.icon-drop:before {
	content: "\e063";
}
.icon-sun:before {
	content: "\e064";
}
.icon-cloud:before {
	content: "\e065";
}
.icon-cloud-upload:before {
	content: "\e066";
}
.icon-cloud-download:before {
	content: "\e067";
}
.icon-upload:before {
	content: "\e068";
}
.icon-download:before {
	content: "\e069";
}
.icon-location:before {
	content: "\e070";
}
.icon-location-2:before {
	content: "\e071";
}
.icon-map:before {
	content: "\e072";
}
.icon-battery:before {
	content: "\e073";
}
.icon-head:before {
	content: "\e074";
}
.icon-briefcase:before {
	content: "\e075";
}
.icon-speech-bubble:before {
	content: "\e076";
}
.icon-anchor:before {
	content: "\e077";
}
.icon-globe:before {
	content: "\e078";
}
.icon-box:before {
	content: "\e079";
}
.icon-reload:before {
	content: "\e080";
}
.icon-share:before {
	content: "\e081";
}
.icon-marquee:before {
	content: "\e082";
}
.icon-marquee-plus:before {
	content: "\e083";
}
.icon-marquee-minus:before {
	content: "\e084";
}
.icon-tag_left:before {
	content: "\e085";
}
.icon-tag_right:before {
	content: "\e08a";
}
.icon-tag2:before {
	content: "\e600";
}
.icon-power:before {
	content: "\e086";
}
.icon-command:before {
	content: "\e087";
}
.icon-alt:before {
	content: "\e088";
}
.icon-esc:before {
	content: "\e089";
}
.icon-star:before {
	content: "\e093";
}
.icon-arrow-left:before {
	content: "\e094";
}
.icon-arrow-right:before {
	content: "\e095";
}
.icon-arrow-up:before {
	content: "\e096";
}
.icon-arrow-down:before {
	content: "\e097";
}
.icon-arrow2_left:before {
	content: "\e63e";
}
.icon-arrow2_right:before {
	content: "\e605";
}
.icon-arrow2_up:before {
	content: "\e608";
}
.icon-arrow2_down:before {
	content: "\e63f";
}
.icon-arrow3_up:before {
	content: "\e640";
}
.icon-arrow3_down:before {
	content: "\e641";
}
.icon-arrow3_middle:before {
	content: "\e642";
}
.icon-arrow4_up:before {
	content: "\e61a";
}
.icon-arrow4_down:before {
	content: "\e625";
}
.icon-volume:before {
	content: "\e098";
}
.icon-mute:before {
	content: "\e099";
}
.icon-content-right:before {
	content: "\e100";
}
.icon-content-left:before {
	content: "\e101";
}
.icon-grid:before {
	content: "\e102";
}
.icon-grid2:before {
	content: "\e90a";
}
.icon-grid-dots:before {
	content: "\e626";
}
.icon-grid-2:before {
	content: "\e103";
}
.icon-columns:before {
	content: "\e104";
}
.icon-list:before {
	content: "\e629";
}
.icon-bar-graph:before {
	content: "\e090";
}
.icon-bar-graph-2:before {
	content: "\e091";
}
.icon-pie-graph:before {
	content: "\e092";
}
.icon-spider:before {
	content: "\e90c";
}
.icon-area-chart:before {
	content: "\e63b";
}
.icon-activity:before {
	content: "\e603";
}
.icon-dots:before {
	content: "\e651";
}
.icon-loader:before {
	content: "\e105";
}
.icon-bag:before {
	content: "\e106";
}
.icon-ban:before {
	content: "\e107";
}
.icon-flag:before {
	content: "\e108";
}
.icon-trash:before {
	content: "\e109";
}
.icon-trash2:before {
	content: "\e908";
}
.icon-expand:before {
	content: "\e110";
}
.icon-contract:before {
	content: "\e111";
}
.icon-maximize:before {
	content: "\e112";
}
.icon-minimize:before {
	content: "\e113";
}
.icon-plus:before {
	content: "\e114";
}
.icon-minus:before {
	content: "\e115";
}
.icon-check:before {
	content: "\e116";
}
.icon-check2:before {
	content: "\e64c";
}
.icon-cross:before {
	content: "\e117";
}
.icon-move:before {
	content: "\e118";
}
.icon-delete:before {
	content: "\e119";
}
.icon-actions:before {
	content: "\e631";
}
.icon-menu:before {
	content: "\e120";
}
.icon-menu2:before {
	content: "\e643";
}
.icon-archive:before {
	content: "\e121";
}
.icon-inbox:before {
	content: "\e122";
}
.icon-outbox:before {
	content: "\e123";
}
.icon-file:before {
	content: "\e124";
}
.icon-file-add:before {
	content: "\e125";
}
.icon-file-subtract:before {
	content: "\e126";
}
.icon-open:before {
	content: "\e128";
}
.icon-waiting:before {
	content: "\e62c";
}
.icon-ellipsis:before {
	content: "\e129";
}
.icon-bold:before {
	content: "\e652";
}
.icon-flow:before {
	content: "\e905";
}
.icon-channel:before {
	content: "\e909";
}
.icon-input:before {
	content: "\e902";
}
.icon-output:before {
	content: "\e903";
}
.icon-lego:before {
	content: "\e904";
}

