
$colors: (
	f1	: #27353a,
	f2	: #384951,
	f3	: #EEF2F3,
	f4	: #E1E5E5,
	f5	: #FFFFFF,

	c1	: #ffa300,
	c1b	: #ff7900,
	c2	: #B5C1C5,
	c2b	: #919B9E,
	c3	: #405467,
	c3b	: #283440,
	c4	: #172734,
	c5	: #D2D9DC,

	g0	: #FFFFFF,
	g1	: #FBFBFB,
	g2	: #F3F3F3,
	g3	: #E4E4E4,
	g4	: #CBCBCB,
	g5	: #B5B5B5,
	g6	: #999999,
	g7	: #777777,
	g8	: #555555,
	g9	: #242424,
	g10	: #000000,

	e1	: #88B060,
	e2	: #FF8900,
	e3	: #E23B2B,

	a1	: #D7C200,
	a2	: #00D9DF,
	a3	: #A7EB1E

);

$font-face---url: '../stratio-ui/font/';

$header-font-main: rgba(255,255,255,0.5);

@import 'helpers/reset';
@import 'vendors/chartjs';
@import '../stratio-font/stratio_fonticon';
@import '../stratio-ui/style/stratio.ui';
@import './components/indexGraph';

body{
	font-family: "open sans";
}

.heading {
    padding: 20px 15px 0px;
    margin-bottom: 15px;
    position: relative;
}

#stratio-base .stratio-base-header .main .logo-cont img{
	width: auto;
	height: 38px;
}

.textarea--monospace{
	textarea{
		font-family: "Droid Sans Mono" !important;
	}
}

.page-transition-opacity{
	@extend %t-normal;

	transition-delay: 0.1s;
}


@media (max-width: 400px){
	.input-wrapper{
		width: 100%;
	}
}

canvas{
	margin: auto;
	display: table;
}

.st-grid__col--half {
	min-width: 360px;
    width: 40%;
    max-width: 50%;
}
#stratio-base .stratio-base-header .main .logo-cont img{
	height: auto;
}
#stratio-base.fixed-dashboard .stratio-base-header .main .logo-cont img{
	width: auto;
	margin-right: 0px;
}

.cut{
	width: 100%;
}


@media (max-width: 1260px){
	.hide-long{
		display: none !important;
	}
}

strong{
	@include getFont(text, bold);
}

.model-detail{
	padding-left: 20px;
}

.border-bottom{
	border-bottom: 1px solid getColor(g3);
}

.drop-area{
	@include getFont(text);
	@extend %t-normal;

	border: 1px dashed getColor(g3);
	padding: 30px;
	text-align: center;
	color: getColor(g5);
	font-size: 16px;
	cursor: pointer;
	background: getColor(g1);

	&__or{
		font-size: 13px;
		padding: 10px 0px 8px;
		opacity: 0.6;
	}

	&:hover{
		border: 1px dashed getColor(g5);
		color: getColor(g7);
		background: getColor(g2);
	}
	&--drag{
		border: 1px dashed lighten(getColor(c1), 10%);
		color: getColor(c1);
		background: mix(getColor(g1), getColor(c1), 95%);
	}
}


.loading-bar{

	margin-top: 15px;

	&,
	&__progress{
		@extend %t-normal;
	}

	&__progress{
		background: getColor(c1);
		height: 6px;
		opacity: 1;
	}


	&--hidden{
		margin-top: 0px;
	}
	&--hidden &__progress{
		height: 0px;
		opacity: 0;
		transition:
			opacity 0.2s ease,
			height 0.3s ease,
			width 0s ease 1s;
	}

}