

<div class="st-grid st-grid--flex container--half">
	<st-heading class="container--large" data-title="Modelos predictivos" subtitle="Bank fraud"></st-heading>

	<div class="st-grid st-grid--flex container--large">

	    <div class="st-grid__col st-grid__col-large">

			<div class="container container--bottom container--no-padding">
				<st-title-block class="title-block--ultra-slim" class-icon="icon-book1" title="Realizar entrenamiento"></st-title-block>

				<div class="container">

			        <div class="button-wrapper">
						<span class="help-block" ng-if="vm.trainingSuccess">
							Entrenamiento comenzado
						</span>

						<st-button ng-click="vm.startTraining()" ng-disabled="vm.trainingDelay">Comenzar</st-button>
					</div>

				</div>
			</div>

		</div>

		<div class="st-grid st-grid--flex container--large">

	    <div class="st-grid__col st-grid__col-large">
			<st-message
		        type="error"
		        visible="{{!!vm.error}}"
		        title="Error"
		        message="{{vm.error}}">
		    </st-message>

		    <div class="divider" ng-class="{'divider--hidden':!vm.error}"></div>

			<div class="container container--bottom container--no-padding">
				<st-title-block class="title-block--ultra-slim" class-icon="icon-report" title="Lista de modelos"></st-title-block>

				<div class="container">

					<st-quick-table ng-if="vm.reports" class="table-list--scrollbar table-list--hide-details" data="vm.reports"></st-quick-table>

				</div>
			</div>

		</div>

	    <div class="st-grid__col">

			<div class="container container--bottom container--no-padding" ng-if="vm.visible">
				<st-title-block class="title-block--ultra-slim" class-icon="icon-report" title="Detalles del modelo"></st-title-block>

				<div class="index-graph-wrapper">

					<div class="index-graph-container">
						
						<div class="index-graph__index">
							0

							<div class="index-graph__index-vertical index-graph__index-vertical-left">
								-10
								<div class="index-graph__index-vertical__line"></div>
							</div>
							<div class="index-graph__index-vertical index-graph__index-vertical-right">
								10
								<div class="index-graph__index-vertical__line"></div>
							</div>
						</div>

						<div class="index-graph index-graph__first">
							<div class="index-graph__cut"></div>
						</div>

						<div ng-repeat="(name, value) in vm.visible.weights">
							<div
								ng-if="value.value"
								class="index-graph index-graph--primary"
								ng-class="{
									'index-graph--negative': Math.sign(value.value) === -1,
									'index-graph--long': Math.abs(value.value) > 10
								}">

								<div class="index-graph__label"><span>{{name | translate}}</span></div>
								<div class="index-graph__cut"></div>
								<div class="index-graph__bar">
									<div
										class="index-graph__bar-line"
										ng-style="{width: (Math.abs(value.value) / 10 * 100) + '%'}">
									</div><!-- 
								 --><div class="index-graph__bar-number">
										{{value.value | number : 2}}
									</div>
								</div>
							</div>
							<div ng-if="!value.value">
								<div class="index-graph__title">{{name | translate}}</div>
								<div
									ng-repeat="(n, v) in value"
									class="index-graph index-graph--sub"
									ng-class="{
										'index-graph--negative': Math.sign(v) === -1,
										'index-graph--long': Math.abs(v) > 10
									}">

									<div class="index-graph__label"><span>{{vm.searchName(n)}}</span></div>
									<div class="index-graph__cut"></div>
									<div class="index-graph__bar">
										<div
											class="index-graph__bar-line"
											ng-style="{width: (Math.abs(v) / 10 * 100) + '%'}">
										</div><!-- 
									 --><div class="index-graph__bar-number">
											{{v | number : 2}}
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="index-graph"><div class="index-graph__cut"></div></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
