

<div class="st-grid st-grid--flex container--half">
	<st-heading class="container--large" watch-attributes data-title="{{vm.report.filename}} ({{vm.report.date | date : 'yyyy-MM-dd HH:mm:ss'}})" subtitle="Detalles del reporte">
        <st-action-group>
            <st-menu-element
                class-icon="icon-reply"
                sref="report">
                
                Go back
            </st-menu-element>
        </st-action-group>
    </st-heading>

	<div class="st-grid__col st-grid__col-large container--large">
		
		<st-message
	        type="error"
	        visible="{{!!vm.error}}"
	        title="Error"
	        message="{{vm.error}}">
	    </st-message>

	    <div class="divider" ng-class="{'divider--hidden':!vm.error}"></div>

		<div class="container container--bottom container--no-padding">
			<st-title-block class="title-block--ultra-slim" class-icon="icon-report" title="Posición global">
				<div class="title-menu__wrapper">
	                <i class="title-menu__icon icon-pie-chart"></i><!-- 
	             --><span class="title-menu__text">Mostrar:</span>
	            </div>
				<div class="title-menu__wrapper">
					<st-input-select
						variant="groupLight"
						placeholder="Mostrar"
						ng-model="vm.reportType">

						<option value="amount" selected>Importe</option>
						<option value="count">Recuento</option>
	                </st-input-select>
	            </div>
			</st-title-block>

			<div class="container">

				<st-quick-table class="table-list--scrollbar table-list--align-right" data="vm.statistics.global"></st-quick-table>

			</div>
		</div>
	</div>

	<div class="st-grid__col st-grid__col--half container container--bottom container--no-padding hide-long">
		<st-title-block class="title-block--ultra-slim" class-icon="icon-pie-graph" title="Legal vs. fraudulento"></st-title-block>

		<div class="container">

			<canvas
				id="legalVsFraud"
				class="chart chart-doughnut"
				chart-legend="true"
				chart-data="vm.statistics.count[vm.reportType].data"
				chart-labels="vm.statistics.count[vm.reportType].labels">
			</canvas>

		</div>
	</div>

	<div class="st-grid__col st-grid__col--half container container--bottom container--no-padding">
		<st-title-block class="title-block--ultra-slim" class-icon="icon-pie-graph" title="Fraude en ecommerce"></st-title-block>

		<div class="container">

			<canvas
				id="ecommerce"
				class="chart-base"
				chart-type="'StackedBar'"
				chart-legend="true"
				chart-options="vm.stackConfiguration[vm.reportType]"
				chart-data="vm.statistics.ecommerce[vm.reportType].data"
				chart-labels="vm.statistics.ecommerce[vm.reportType].labels"
				chart-series="vm.statistics.ecommerce[vm.reportType].series">
			</canvas>

		</div>
	</div>

	<div class="st-grid__col st-grid__col--half container container--bottom container--no-padding">
		<st-title-block class="title-block--ultra-slim" class-icon="icon-pie-graph" title="Origen de la transacción"></st-title-block>

		<div class="container">

			<canvas
				id="foreing"
				class="chart-base"
				chart-type="'StackedBar'"
				chart-legend="true"
				chart-options="vm.stackConfiguration[vm.reportType]"
				chart-data="vm.statistics.foreing[vm.reportType].data"
				chart-labels="vm.statistics.foreing[vm.reportType].labels"
				chart-series="vm.statistics.foreing[vm.reportType].series">
			</canvas>

		</div>
	</div>

	<div class="cut"></div>

	<div class="st-grid__col st-grid__col--half container container--bottom container--no-padding">
		<st-title-block class="title-block--ultra-slim" class-icon="icon-pie-graph" title="Fraude por país"></st-title-block>

		<div class="container">

			<canvas
				id="amountPerCountry"
				class="chart chart-radar"
				chart-legend="true"
				chart-data="vm.statistics.amountPerCountry[vm.reportType].data"
				chart-labels="vm.statistics.amountPerCountry[vm.reportType].labels"
				chart-series="vm.statistics.amountPerCountry[vm.reportType].series">
			</canvas> 

		</div>
	</div>

	<div class="st-grid__col st-grid__col--half container container--bottom container--no-padding">
		<st-title-block class="title-block--ultra-slim" class-icon="icon-pie-graph" title="Fraude por comerciante"></st-title-block>

		<div class="container">

			<canvas
				id="amountPerMerchant"
				class="chart chart-radar"
				chart-legend="true"
				chart-data="vm.statistics.amountPerMerchant[vm.reportType].data"
				chart-labels="vm.statistics.amountPerMerchant[vm.reportType].labels"
				chart-series="vm.statistics.amountPerMerchant[vm.reportType].series">
			</canvas>

		</div>
	</div>
	
</div>
