

<div class="st-grid st-grid--flex container--half">
	<st-heading class="container--large" data-title="Report list" subtitle="Bank fraud"></st-heading>

	<div class="st-grid st-grid--flex container--large">

	    <div class="st-grid__col">
			<st-message
		        type="error"
		        visible="{{!!vm.error}}"
		        title="Error"
		        message="{{vm.error}}">
		    </st-message>

		    <div class="divider" ng-class="{'divider--hidden':!vm.error}"></div>

			<div class="container container--bottom container--no-padding">
				<st-title-block class="title-block--ultra-slim" class-icon="icon-upload" title="Cargar informe"></st-title-block>

				<div class="container">

					<div
						ngf-drop
						ngf-select
						ng-model="files"
						class="drop-area" 
				        ngf-drag-over-class="'drop-area--drag'"
				        ngf-multiple="false"
				        ngf-allow-dir="true">

				        Arrastra y suelta tu archivo
				        <div class="drop-area__or">
				        	&mdash; o &mdash;
				        </div>
				        Pulsa y selecciona el archivo
				    </div>

				    <div
				    	class="loading-bar"
				    	ng-class="{
				    		'loading-bar--hidden': vm.loading === false
				    	}">

				    	<div
				    		class="loading-bar__progress"
				    		ng-style="{
				    			width: vm.loading ? vm.loading + '%' : 0
				    		}">
				    	</div>
				    </div>

				</div>
			</div>

			<div class="divider"></div>

			<div class="container container--bottom container--no-padding">
				<st-title-block class="title-block--ultra-slim" class-icon="icon-report" title="Reportes disponibles"></st-title-block>

				<div class="container">

					<st-quick-table ng-if="vm.reports" class="table-list--scrollbar table-list--hide-details" data="vm.reports"></st-quick-table>

				</div>
			</div>
		</div>
	</div>
</div>
