
$st-grid--flex__col---margin: 15px !default;
$st-grid__divider--color: getColor(g3) !default;
$st-grid__col-media-large---while-max-width: $global__big-screen !default;


.st-grid{
	display: block;

	&__col{
		display: inline-block;
		vertical-align: top;
	}
	&__margin{
		margin: $st-grid--flex__col---margin;
	}
	&__margin-horizontal-complete{
		margin: 0px;
		margin-right: $st-grid--flex__col---margin * 2;
		margin-left: $st-grid--flex__col---margin * 2;
	}
	
	&--flex-column{
		flex-direction: column;
	}
	
	@at-root %st-grid--flex,
	&--flex{
		display: flex;
		flex-wrap: wrap;

		&-column{
			flex-direction: column;
		}
	}
	@at-root %st-grid--flex__col,
	&--flex &__col{
		display: block;
		flex: 1;
		margin: $st-grid--flex__col---margin;
		max-width: calc(100% - #{$st-grid--flex__col---margin * 2});
	}
	&--flex &__col--double{
		flex: 2;
	}
	&--flex &__col.st-grid--flex{
		display: flex;
	}

	&__divider-vertical{
		width: $st-grid--flex__col---margin * 2;
		position: relative;

		&:before{
			$s: 1px;

			content: '';
			width: $s;
			background: $st-grid__divider--color;
			position: absolute;
			top: 0;
			height: 100%;
			bottom: 0;
			left: 50%;
			margin-left: $s / -2;
		}
	}
	
	&--flex-column &__divider-vertical,
	&__divider-horizontal{
		width: 100%;
		height: 1px;
		position: relative;

		&:before{
			$s: 1px;
			
			position: absolute;
			display: block;
			content: '';
			background: $st-grid__divider--color;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__col--half{
		width: 40%;
	}

	
	&--flex &__col-large,
	&__col-large{
		width: 100%;
		flex-basis: 100%;
	}
	&--flex &__col-padding.st-grid__col,
	&--flex &__col-no-margin.st-grid__col,
	&__col-no-margin{
		margin: 0;
	}
	&__col-padding{
		padding: 0px ($st-grid--flex__col---margin * 2);
	}
}