<div
	class="message-block"
	ng-class="{
		'message-block--ok': type == '' || type == 'ok',
		'message-block--warn': type == 'warn',
		'message-block--error': type == 'error',
		'message-block--info': type == 'info',
		'message-block--hidden': visible == 'false'
	}">
	
	<span class="message-block__title">
		{{title}}
	</span>
	<div class="message-block__message">
		<span class="message-block__message-icon" ng-class="{
			'icon-circle-check': type == '' || type == 'ok',
			'icon-alert': type == 'warn' || type == 'error'
		}"></span><!--
	 -->{{message}}
	</div>
	<div class="message-block__additional" ng-class="{'message-block__additional--has-transclude': hasTransclude}" ng-transclude></div>
</div>