<div class="st-pagination">
	<div
		ng-class="{'st-pagination__element--hidden': !(0 <= page - maxVisibles - 1)}"
		class="st-pagination__element st-pagination__element--transparent">

		<st-button
			class="st-pagination__more"
			variant="rounded"
			icon="icon-waiting">
		</st-button>
	</div><!-- 

 --><div
 		class="st-pagination__element"
		ng-repeat="n in numbers track by $index"
		ng-class="{
			'st-pagination__element--hidden': !(
				$index > page - maxVisibles - (!$index ? 1 : 0) &&
				$index < (maxVisibles > page ? maxVisibles : page) + maxVisibles - ($index == totalPages - 1 ? 1 : 2)),
			'st-pagination__element--transparent': ($index + 1) != page
		}">

	 	<st-button
			variant="rounded"
			ng-click="$parent.setPage($index + 1)">

			{{$index + 1}}
		</st-button>
	</div><!-- 

 --><div
		ng-class="{
			'st-pagination__element--hidden': !(
				(maxVisibles * 2) < totalPages &&
				totalPages >= page + maxVisibles
			)}"
 		class="st-pagination__element st-pagination__element--transparent">
 		
 		<st-button
			class="st-pagination__more"
			variant="rounded"
			icon="icon-waiting">
		</st-button>
	</div>
</div>