<div class="action-group">

	<div class="action-group__buttons buttons" ng-modified-transclude></div><!-- 

 --><div class="action-group__extra extra menu-element-more" ng-click="$root.stToggleFloatingMenu[toggleId]()">
		<div class="menu-element-more__element">
			<i class="action-group__extra icon-waiting menu-element-more__icon"></i>
		</div><!-- 
	
	 --><div class="floating-menu">
			<div class="floating-menu__list" ng-class="{visible: visible}">
				<span class="direction"></span>
				<div class="list" ng-transclude></div>
			</div>
		</div>
	</div>
</div>