<div class="floating-panel" ng-class="{visible: visible}">
	<div class="floating-panel__container">
		<div ng-transclude></div>
	</div>
	<span no-transform arrow class="floating-panel__arrow"></span>
</div>