<div class="floating-menu">
	<div class="floating-menu__list {{align ? 'align-' + align : ''}} " ng-class="{visible: visible}">
		<span class="direction"></span>
		<div ng-transclude></div>
	</div>
</div>