<div class="menu-element"
	ng-if="visible == 'true'"
	id="menu-element-{{title.toLowerCase()}}"
	ng-class="{ selected: $state.is(route) || active === 'true'}">

	<a href ui-sref="{{sref}}">
		<span class="ico {{icon}}"></span>
		<span class="title">{{title}}</span>
		<span class="label" ng-if="label && !isNaN(label) && label > 0">
			{{label}}
		</span>
	</a>
</div>
