// Transitions
.t-fast,
%t-fast{
	transition: all 0.2s ease;
}
.t-normal,
%t-normal{
	transition: all 0.3s ease;
}
.t-slow,
%t-slow{
	transition: all 0.5s ease;
}
%t-angular{
	transition-property: initial !important;
}

// Label
.numerical-label{
	font-size: 13px;
	line-height: 17px;
	background-color: $red;
	border-radius: 6px;
	color: #fff;
	padding: 0px 6px 0px 5px;
	text-align: center;
	min-width: 20px;
}

// Text Ellipsis
%text-ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Custom sidebar on webkit
%webkit-sidebar-color{
	&::-webkit-scrollbar-thumb {
		background: #888888;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #6f6f6f;
	}
	&::-webkit-scrollbar-thumb:active {
		background: #5a5a5a;
	}
	&::-webkit-scrollbar-track {
		background: #cccccc;
	}
	&::-webkit-scrollbar-track:hover {
		background: #bbbbbb;
	}
	&::-webkit-scrollbar-track:active {
		background: #aaaaaa;
	}
}
.webkit-sidebar,
%webkit-sidebar{
	@extend %webkit-sidebar-color;

	overflow-y: auto;
	$size: 7px;

	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}
	&::-webkit-scrollbar-button {
		width: 30px;
		height: 30px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
	}
	&::-webkit-scrollbar-track {
		border-radius: 7px;
	}
	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

.webkit-sidebar-all,
%webkit-sidebar-all{
	&::-webkit-scrollbar-button {
		width: 0px;
		height: 0px;
	}
}
%webkit-sidebar-rect{
	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
	}
	&::-webkit-scrollbar-track {
		border-radius: 0px;
	}
}

%webkit-sidebar-hover{
	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-thumb:hover,
	&::-webkit-scrollbar-thumb:active,
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-track:hover,
	&::-webkit-scrollbar-track:active {

		background: transparent;
	}
}
%webkit-sidebar-hover:hover,
%webkit-sidebar-hover-hover{
	@extend %webkit-sidebar-color;
}



// Clearfix
%clearfix{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}