// Helper for scrollbar (gradient on top and bottom)
@mixin gradientScroll($bg, $height: 40px){
	&:before,
	&:after{
		@include linearGradient(to bottom, rgba($bg, 0), rgba($bg, 1));

		content: '';
		position: absolute;
		height: $height;
		width: 100%;
		left: 0px;
		right: 0px;
		z-index: 2;
	}
	&:before{
		top: 0;
		transform: rotate(180deg);
	}
	&:after{
		bottom: 0;
	}
}

// Gradients
@mixin linearGradient($dir, $from, $to){
	background-image:
		-webkit-linear-gradient($dir, $from 0%, $to 100%);
	background-image:
		-o-linear-gradient($dir, $from 0%, $to 100%);
	background-image:
		linear-gradient($dir, $from 0%, $to 100%);
}


// Hovers from property
@mixin hoverize($map, $property){
	#{$property}: map-get($map, base);

	&:hover{
		#{$property}: map-get($map, hover);
	}
}