
$index-graph---color-bar: #95c11f !default;
$index-graph---color: #617d14 !default;
$index-graph---height: 60px !default;
$index-graph---line-limit: 80px !default;
$index-graph--negative---color-bar: #ea5b0c !default;
$index-graph--negative---color: #be4a0a !default;
$index-graph--sub---height: 40px !default;

.index-graph{
	text-align: center;
	min-height: $index-graph---height;
	position: relative;
	z-index: 2;
	display: flex;
	font-size: 15px;
	color: $index-graph---color;
    justify-content: center;

	&__index{
		position: relative;
		color: #555555;
		font-size: 14px;
		text-align: center;
		padding-bottom: 12px;

		&-vertical{
			position: absolute;
			top: 0px;
			bottom: 0px;
			width: 20px;
			padding-bottom: 12px;

			&-left{
				left: $index-graph---line-limit - 10px;
			}
			&-right{
				right: $index-graph---line-limit - 10px;
			}

			&__line{
				position: absolute;
				left: 50%;
				top: 100%;
				height: 99999px;
				border-left: 1px solid #f0f0f0;
			}
		}
	}

	&__bar,
	&__label{
		flex: 1;
		height: $index-graph---height;
		max-width: calc(50% - 0.5px);
	}

	&__bar{
		text-align: left;
		padding-right: $index-graph---line-limit;
		white-space: nowrap;

		&-line,
		&-number{
			display: inline-block;
			vertical-align: middle;
		}
		&-line{
			height: 30px;
			margin: 15px 0px;
			background: $index-graph---color-bar;
		}
		&-number{
			padding-left: 10px;
		}
	}
	&__label{
		line-height: $index-graph---height;
		text-align: right;
		white-space: nowrap;
	}
	&__label span{
		padding-right: 10px;
	    overflow: hidden;
	    white-space: nowrap;
	    display: block;
        text-overflow: ellipsis;
	}

	&__cut{
		position: relative;
		height: $index-graph---height;
		width: 1px;
		background: #a6a6a6;
	}

	&--primary{
		border-top: 1px solid #d6d6d6;
	}
	&--primary &__label{
		color: #242424;
		font-weight: 600;
	}

	&--negative{
		color: $index-graph--negative---color;
	}
	&--negative &__bar{
		direction: rtl;
		text-align: right;
		padding-right: 0px;
		padding-left: $index-graph---line-limit;
	}
	&--negative &__bar-line{
		background: $index-graph--negative---color-bar;
	}
	&--negative &__bar-number{
		direction: ltr;
		padding-right: 10px;
		padding-left: 0px;
	}
	&--negative &__bar {order: 0;}
	&--negative &__cut {order: 1;}
	&--negative &__label {
		order: 2;
		text-align: right;
	}
	&--negative &__label{
		text-align: left;
	}
	&--negative &__label span{
		padding-left: 10px;
		padding-right: 0px;
	}

	&__title{
		height: 40px;
		line-height: 40px;
		font-weight: 600;
		border-top: 1px solid #d6d6d6;
		text-align: center;
		position: relative;
		z-index: 2;
		font-size: 15px;
	}
	&__title + & &__bar,
	&__title + & &__label{
		margin-top: 10px;
	}
	&__title + &--sub{
		height: $index-graph--sub---height + 10px;
	}
	&__title + &--sub &__cut{
		height: $index-graph--sub---height + 10px;
	}

	&--sub{
		min-height: $index-graph--sub---height;
		height: $index-graph--sub---height;
	}
	&--sub:last-child,
	&--sub:last-child &__cut{
		height: $index-graph--sub---height + 30px;
	}
	&--sub &__bar,
	&--sub &__cut,
	&--sub &__label{
		height: $index-graph--sub---height;
	}
	&--sub &__label{
		line-height: $index-graph--sub---height;
	}
	&--sub &__bar-line{
		margin: 5px 0px;
	}

	&--long &__bar-line{
		background: linear-gradient(90deg, $index-graph---color-bar 15%, #fff 100%);
		width: calc(100% + #{$index-graph---line-limit}) !important;
	}
	&--long#{&}--negative &__bar-line{
		background: linear-gradient(-90deg, $index-graph--negative---color-bar 15%, #fff 100%);
	}


	&__first{
		height: 20px;
		min-height: auto;
		border-top: 1px solid #666666;
	}
	&__first &__cut{
		margin: auto;
		height: 100%;
	}

	&-wrapper{
		margin: 15px;
		padding: 30px 0px;
		background: #ffffff;
	}
	&-container{
		margin: auto;
		padding: 0px 90px;
		overflow: hidden;
		max-width: 1200px;
	}
}