$action-points---color: getColor(g7) !default;
$action-points---font-size: 22px !default;

.action-points{
	position: absolute;
	
	&__icon{
		color: $action-points---color;
		font-size: $action-points---font-size;
		cursor: pointer;
	}
	&__icon,
	&__menu{
		display: block;
	}
	&__menu{
		display: table;
		margin: auto;
		left: 14px;
		top: -11px;
	}
}