
$dashboard-header-title---border-color: getColor(g7) !default;
$dashboard-header-title---color: getColor(g6) !default;
$dashboard-header-title---height: 48px !default;
$dashboard-header-title---padding-left: 30px !default;
$dashboard-header-title---top: -20px !default;
$dashboard-header-title---font-size: 46px !default;


$dashboard-header-title--fixed---height: 40px !default;
$dashboard-header-title--fixed---top: -14px !default;
$dashboard-header-title--fixed---font-size: 28px !default;

.dashboard-header-title{
	@extend %t-normal;
	font-size: $dashboard-header-title---font-size;
	display: inline-block;
	height: $dashboard-header-title---height;
	line-height: $dashboard-header-title---height - 2px;
	text-transform: uppercase;
	padding-left: $dashboard-header-title---padding-left;
	position: relative;
	top: $dashboard-header-title---top;
	color: $dashboard-header-title---color;
	border-left: 2px solid $dashboard-header-title---border-color;

	.fixed-dashboard &{
		height: $dashboard-header-title--fixed---height;
		line-height: $dashboard-header-title--fixed---height - 2px;
		font-size: $dashboard-header-title--fixed---font-size;
		top: $dashboard-header-title--fixed---top;
	}
}