
$dots---separation: 5px;
$dots__dot---size: 4px;

.dots{
	margin: ($dots---separation / -2);
	line-height: 0;

	&__dot{
		display: inline-block;
		vertical-align: top;
		height: $dots__dot---size;
		width: $dots__dot---size;
		margin: ($dots---separation / 2);
		border-radius: $dots__dot---size / 2;

		&--ok		{background: getColor(e1)};
		&--warn		{background: getColor(e2)};
		&--error	{background: getColor(e3)};
	}

	&--subtitle{
		display: block;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 10px;
	}
}