$width: 244px;
$element---height: 40px;

.floating-menu{
	line-height: 0;
	display: inline-block;
	position: relative;
}

.floating-menu__list{
	$sep: 26px;
	$sdir: 8px;
	
	width: $width;
	background: #fff;
	box-shadow: 
		0px 0px 3px rgba(#000, 0.15),
		0px 0px 1px rgba(#000, 0.3),
		0px 3px 2px -1px rgba(#000, 0.1);
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1005;
	margin-right: -$sep;
    font-family: 'bariol-regular';
    min-height: 0px;
    
	opacity: 0;
	padding: 0;

	&,
	.menu-element{
		@extend .t-normal;
    }
	
	.direction{
		height: $sdir;
		width: $sdir;
		position: absolute;
		right: $sep;
		top: 0px;
		margin-top: $sdir / -2;
		transform: rotate(-45deg);
	    box-shadow: 1px -1px 2px -1px rgba(#000, 0.4);
	    background: #fff;
	}

	$h: $element---height;
	.menu-element{
		@include getFont(text);

		display: block;
		height: 0;
		font-size: 16px;
		cursor: pointer;
		opacity: 0;

		&__element{
			@extend .t-normal;
			
			line-height: $h - 2px;
			padding: 0px 15px;
			display: block;
			height: 100%;
			width: 100%;
			color: #fff;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&:hover{
				background: getColor(g2);
				color: getColor(c1);
			}
			.ico{
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}

    &.visible{
		opacity: 1;
		padding: 8px 0px;

		.menu-element{
			height: $h;
			opacity: 1;
	
			@for $i from 2 through 40 {
				&:nth-child(#{$i}){
					transition-delay: ($i - 1) * 0.04s;
				}
			}

			&__element{
				color: #a4a4a4;
				//height: $h;

				&:hover{
					color: getColor(c1);
				}
			}
		}
    }
}

.floating-menu--select{
	width: 100%;
	display: block;
	
	.floating-menu__list{
		@extend %webkit-sidebar;
		@extend %webkit-sidebar-all;
		@extend %webkit-sidebar-rect;

		width: auto;
		left: 0px;
		right: 0px;
		margin: 0;
		top: 0;
		margin-top: 12px;
		max-height: 400px;
		transition:
			opacity 0.3s ease,
			margin 0.3s ease,
			padding 0.3s ease;

		&.visible{
			margin-top: -4px;
			min-height: 40px;
		}
		&.visible-remove{
			transition: all 0.3s ease !important;
			@extend %t-angular;
		}

		.menu-element{
			transition-duration: 0.35s;
			
			&.ng-animate{
				position: relative;
			}
			@at-root %floaring-menu__blur-hidden,
			&.ng-leave.ng-leave-active,
			&.ng-enter{
				max-height: 0px;
				opacity: -0.5;
				top: -20px;
				-webkit-filter: blur(4px);
				
				transition:
					top 0.5s ease,
					max-height 0.5s ease,
					opacity 0.3s ease 0.1s,
					-webkit-filter 0.5s ease;
			}
			@at-root %floaring-menu__blur-visible,
			&.ng-enter.ng-enter-active,
			&.ng-leave{
				max-height: $element---height;
				opacity: 1;
				top: 0;
				-webkit-filter: blur(0px);

				transition:
					top 0.5s ease,
					max-height 0.5s ease,
					opacity 0.3s ease 0s,
					-webkit-filter 0.5s ease;
			}
		}
	}
	.direction{
		display: none;
	}
}