
$form-list---separation: 34px !default;
$form-list-wrapper---columns: 1 !default;
$form-list-wrapper---max-width: 260px !default;
$form-list-wrapper---padding-top: 16px !default;
$form-list__element---font-size: 15px !default;
$form-list__element-key---color: getColor(g6) !default;
$form-list__element-value---color: getColor(g9) !default;

.form-list{

	&__element{
		position: relative;

		&-flex{
			display: flex;
			justify-content: space-between;
		}

		&-key,
		&-value{
			font-size: $form-list__element---font-size;
		}
		&-key{
			color: $form-list__element-key---color;
		}
		&-value{
			color: $form-list__element-value---color;
			padding-left: 20px;
			overflow: hidden;
			display: inline-block;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&-container{
		margin: 0px ($form-list---separation / -2);
		max-width: $form-list-wrapper---max-width * $form-list-wrapper---columns;
	}
	&-wrapper{
		display: inline-block;
		vertical-align: top;
		max-width: 100% / $form-list-wrapper---columns;
		padding: $form-list-wrapper---padding-top ($form-list---separation / 2) 0;
		width: $form-list-wrapper---max-width;
	}

	.st-input-checkbox{
		padding-right: 30px;
	}
}