
$form-field---background: getColor(g0) !default;
$form-field---min-height: 75px !default;
$form-field---padding: 15px !default;
$form-field__input---padding-top: 8px !default;
$form-field__input---width: 250px !default;
$form-field__input-placeholder---width: 300px !default;

.form-field{
	background: $form-field---background;
	min-height: $form-field---min-height;
	position: relative;

	&__input-wrapper{
		padding: $form-field__input---padding-top $form-field---padding 0px;
		width: $form-field__input---width;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	&__content{
		padding: $form-field---padding;
		padding-left: $form-field__input---width + 5px;
	}
	
	.st-input__error{
		bottom: 100%;
		margin-bottom: $form-field__input---padding-top;
		margin-left: -$form-field---padding;
		width: $form-field__input-placeholder---width;
		opacity: 1;
	}
}