
$st-input-switch---height: 22px !default;
$st-input-switch---width: 36px !default;
$st-input-switch__check---size: 16px !default;

$st-input-switch---border-width: 1px !default;
$st-input-switch---border-radius: $st-input-switch---height / 2 !default;
$st-input-switch---color-check: getColor(c1) !default;
$st-input-switch---color: getColor(g6) !default;
$st-input-switch---background: getColor(g0) !default;

.st-input-switch{
	$separation: (($st-input-switch---height - $st-input-switch__check---size) / 2) - $st-input-switch---border-width;

	@extend .t-normal;

	display: inline-block;
	vertical-align: middle;

	&__input{
		display: none;
	}
	&__container,
	&__check{
		@extend .t-normal;

		background: $st-input-switch---background;
		border: $st-input-switch---border-width solid $st-input-switch---color;
	}
	&__container{
		height: $st-input-switch---height;
		width: $st-input-switch---width;
		border-radius: $st-input-switch---border-radius;
	}
	&__check{
		width: $st-input-switch__check---size;
		height: $st-input-switch__check---size;
		border-radius: $st-input-switch__check---size / 2;
		margin: $separation;
	}

	&--selected &__check{
		border-color: $st-input-switch---background;
	}
	&--selected &__container{
		border-color: $st-input-switch---color-check;
		background: $st-input-switch---color-check;
		padding-left: $st-input-switch---width - $st-input-switch__check---size - ($separation * 2 * 1.5);
	}
}