
$st-input-textarea---compatibilty-mode: true !default;

$st-input-textarea__textarea--min-height: 120px !default;
$st-input-textarea__placeholder---height: $st-input---height !default;


@if not $st-input-textarea---compatibilty-mode{
	.st-input-textarea{
		
		&__textarea{
			@extend .webkit-sidebar;
			@extend .webkit-sidebar-all;
		
			height: $st-input-textarea__textarea--min-height;
			border-width: 1px;
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			transition: border-color 0.3s ease; 
			display: block;
			font-family: inherit;
			line-height: 1.4em;
			background: #fff;
		}

		&.st-input--empty .st-input__placeholder{
			bottom: 100%;
			margin-bottom: -$st-input-textarea__placeholder---height;
		}
	}
}@else{
	.st-input-textarea{
		
		&__textarea{
			@extend .webkit-sidebar;
			@extend .webkit-sidebar-all;
		
			height: $st-input-textarea__textarea--min-height !important;
			border-width: 1px !important;
			width: 100% !important;
			max-width: 100% !important;
			min-width: 100% !important;
			transition: border-color 0.3s ease !important; 
			display: block !important;
			font-family: inherit !important;
			line-height: 1.4em !important;
			background: #fff;
		}

		&.st-input--empty .st-input__placeholder{
			bottom: 100% !important;
			margin-bottom: -$st-input-textarea__placeholder---height !important;
		}
	}
}