
$st-node---background: getColor(g2) !default;
$st-node---border-bottom: 2px solid getColor(g4) !default;
$st-node---padding-bottom: 20px !default;
$st-node---separation: 30px !default;
$st-node---width: 250px !default;
$st-node__checkbox---left: 14px !default;
$st-node__checkbox---top: 14px !default;
$st-node__header---color: getColor(g0) !default;
$st-node__header---font-size: 15px !default;
$st-node__header---padding: 32px 15px 4px !default;
$st-node__corner---size: 20px !default;
$st-node__corner---background: getColor(g0) !default;


.st-node{
	width: 250px;
	display: inline-block;
	vertical-align: top;
	background: $st-node---background;
	border-bottom: $st-node---border-bottom;
	padding-bottom: $st-node---padding-bottom;


	&__header{
		@include linearGradient(0deg, getColor(c2), getColor(c5));

		padding: $st-node__header---padding;
		font-size: $st-node__header---font-size;
		color: $st-node__header---color;
		position: relative;

		&-title{
			position: relative;
		}
		&-action-points{
			right: 5px;
			bottom: 10px;
		}

		&:before{
			content: "";
			height: $st-node__corner---size;
			width: $st-node__corner---size;
			position: absolute;
			top: 0;
			right: 0;
			margin-top: $st-node__corner---size / -2;
			margin-right: $st-node__corner---size / -2;
			background: $st-node__corner---background;
			transform: rotate(45deg);
		}
	}

	&__checkbox{
		position: absolute;
		top: $st-node__checkbox---top;
		left: $st-node__checkbox---left;
	}

	&--separated{
		margin: ($st-node---separation / 2);
	}
	
	&-container{
		margin: 0px ($st-node---separation / -2);
	}

}