
$st-table---compatibility-mode: true !default;

$st-table---padding-horizontal: 22px !default;
$st-table__tbody-td---font-size: 16px !default;
$st-table__tbody-td---padding: 10px $st-table---padding-horizontal !default;
$st-table__thead---background: getColor(c2) !default;
$st-table__thead---color: getColor(g0) !default;
$st-table__thead-th---font-size: 20px !default;
$st-table__thead-th---padding: 24px $st-table---padding-horizontal 8px !default;


.st-table{
	@if($st-table---compatibility-mode){
		@extend %fix-table;
	}

	width: 100%;
	margin: 0;
	border: 0;

	& &__thead{ // Compatibility
		background: $st-table__thead---background;
		color: $st-table__thead---color;
		
		@if($st-table---compatibility-mode){
			border: none !important;
		}
	}
	& &__thead th{
		padding: $st-table__thead-th---padding;
		font-size: $st-table__thead-th---font-size;
	}
	& &__tbody td{
	    padding: $st-table__tbody-td---padding;
	    vertical-align: middle;
	    font-size: $st-table__tbody-td---font-size;
	}
	& &__cell{
		&--center{
			text-align: center;
		}
	}
}