
$title-block---background: getColor(g2) !default;
$title-block---padding-bottom: 18px !default;
$title-block---padding-horizontal: $base-padding !default;
$title-block---padding-top: 45px !default;
$title-block--dark---background: getColor(g3) !default;
$title-block--dark__title---color: getColor(g6) !default;
$title-block--slim---padding-bottom: 12px !default;
$title-block--slim---padding-top: 30px !default;
$title-block--ultra-slim---padding-bottom: 6px !default;
$title-block--ultra-slim__content---padding-bottom: 10px !default;
$title-block--ultra-slim---padding-horizontal: 26px !default;
$title-block--ultra-slim---padding-top: 24px !default;
$title-block--ultra-slim__text---font-size: 24px !default;
$title-block__title---color: getColor(c4) !default;
$title-block__title---font-size: 32px !default;
$title-block__title---is-uppercase: true !default;


.title-block{
	@extend %fix-span-lh;

	background: $title-block---background;
	padding: $title-block---padding-top $title-block---padding-horizontal $title-block---padding-bottom;
	position: relative;

	&__title{
		font-size: $title-block__title---font-size;
		color: $title-block__title---color;

		@if($title-block__title---is-uppercase){
			text-transform: uppercase;
		}
	}
	&__content{
		position: absolute;
		bottom: $title-block---padding-bottom;
		right: $title-block---padding-horizontal;
	}
	&__title-icon{
		font-size: 0.8em;
	}
	&--slim{
		padding: $title-block--slim---padding-top $title-block---padding-horizontal $title-block--slim---padding-bottom;
	}
	&--ultra-slim{
		padding: $title-block--ultra-slim---padding-top $title-block--ultra-slim---padding-horizontal $title-block--ultra-slim---padding-bottom;
	}
	&--ultra-slim &__title{
		font-size: $title-block--ultra-slim__text---font-size;
	}
	&--ultra-slim &__content{
		bottom: $title-block--ultra-slim__content---padding-bottom;
	}

	&--dark{
		background: $title-block--dark---background;
	}
	&--dark &__title{
		color: $title-block--dark__title---color;
	}
	&--free-content &__content{
		position: static;
	}
}