
$title-menu__short-element---compatibility-mode: true !default;

$title-menu---font-size: 13px !default;
$title-menu---height: 40px !default;
$title-menu---margin-bottom: 8px !default;
$title-menu__divider---color: getColor(g3) !default;
$title-menu__divider---margin-horizontal: 16px !default;
$title-menu__buttons-group-element---border-color: getColor(g4) !default;
$title-menu__buttons-group-element--light---border-color: getColor(g3) !default;
$title-menu__icon---font-size: 15px !default;
$title-menu__icon---margin-right: 8px !default;
$title-menu__wrapper---padding-left: 8px !default;
$title-menu__wrapper---padding-left: 8px !default;
$title-menu__short-element---width: 160px !default;

.title-menu{
	height: $title-menu---height;
	line-height: $title-menu---height - $title-menu---margin-bottom;
	padding-bottom: $title-menu---margin-bottom;
	font-size: $title-menu---font-size;

	&__wrapper{
		padding-left: $title-menu__wrapper---padding-left;
		display: inline-block;
		vertical-align: middle;
	}
	&__text{
		font-size: $title-menu---font-size;
	}

	&__divider{
		display: inline-block;
		vertical-align: middle;
		height: 20px;
		position: relative;
		width: 1px;
		margin: 0px $title-menu__divider---margin-horizontal;

		&:before{
			content: "";
			width: 1px;
			background: $title-menu__divider---color;
			display: block;
			top: -10px;
			position: absolute;
			left: 0px;
			bottom: -16px;
		}
	}
	&__divider + &__wrapper{
		padding-left: 0;
	}

	&__icon{
		font-size: $title-menu__icon---font-size;
		margin-right: $title-menu__icon---margin-right;
		position: relative;
		top: 1px;
	}

	&__buttons-group{
		&-element{
			border-left: 1px solid $title-menu__buttons-group-element---border-color;

			&:first-child{
				border: 0;
			}
		}
	}
	&__buttons-group--light &__buttons-group-element{
		border-left: 1px solid $title-menu__buttons-group-element--light---border-color;
		
		&:first-child{
			border: 0;
		}
	}


	&__short{
		.st-input,
		.quick-search{
			width: 
				if($title-menu__short-element---compatibility-mode,
					$title-menu__short-element---width !important,
					$title-menu__short-element---width);
		}
	}
}