
$vertical-tabs---back-background: getColor(g1) !default;
$vertical-tabs---separation: 30px !default;
$vertical-tabs__content---background: getColor(g2) !default;
$vertical-tabs__content-title---font-size: 30px !default;
$vertical-tabs__content-title---is-uppercase: true;
$vertical-tabs__tab---border-top-color: getColor(g3) !default;
$vertical-tabs__tab---color: getColor(g5) !default;
$vertical-tabs__tab---height: 40px !default;
$vertical-tabs__tab--active---color: getColor(f1) !default;
$vertical-tabs__tab--error---color: getColorLight(e2) !default;
$vertical-tabs__tab--active--error---color: getColor(e2) !default;
$vertical-tabs__tab-arrow---size: 15px !default;
$vertical-tabs__tabs---width: 200px !default;

.vertical-tabs{
	position: relative;
	display: flex;

	&__tabs{
		width: 0;
		padding-bottom: $vertical-tabs__tab---height;
	}

	&__tabs,
	&__content{
		display: inline-block;
		vertical-align: top;
	}
	&__tab{
		@extend %t-normal;

		width: $vertical-tabs__tabs---width;
		border-top: 1px solid $vertical-tabs__tab---border-top-color;
		color: $vertical-tabs__tab---color;
		height: $vertical-tabs__tab---height;
		line-height: $vertical-tabs__tab---height * 1.05;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		
		&:before{
			@extend %t-normal;
	
			content: '';
			background: $vertical-tabs---back-background;
			height: $vertical-tabs__tab-arrow---size;
			width: $vertical-tabs__tab-arrow---size;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: $vertical-tabs__tab-arrow---size / -2;
			margin-right: ($vertical-tabs__tab-arrow---size / -2) - $vertical-tabs---separation;
			transform: rotate(45deg);
		}
		
		&-warn{
			@extend %t-normal;

			opacity: 0;
			position: relative;
			top: 1px;
			font-size: 0.9em;
			margin-left: 4px;
			color: $vertical-tabs__tab---color;
		}

		&--active{
			color: $vertical-tabs__tab--active---color;
		
			&:before{
				background: $vertical-tabs__content---background;
			}

			&.vertical-tabs__tab--error{
				color: $vertical-tabs__tab--active--error---color;

				.vertical-tabs__tab-warn{
					color: $vertical-tabs__tab--active--error---color;
				}
			}
		}
		&--error{
			color: $vertical-tabs__tab--error---color;

			.vertical-tabs__tab-warn{
				opacity: 1;
				color: $vertical-tabs__tab--error---color;
			}
		}
	}

	&__content{
		padding-left: $vertical-tabs__tabs---width + $vertical-tabs---separation;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		&-container{
			@extend .container;

			background: $vertical-tabs__content---background;
			position: relative;
			z-index: 2;
			flex: 1;
		}
		&-title{
			font-size: $vertical-tabs__content-title---font-size;
			line-height: 1.3em;

			@if($vertical-tabs__content-title---is-uppercase){
				text-transform: uppercase;
			}
		}
	}	
}